---
---

@import "{{ site.theme }}";

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a img {
	border: none;
}

.page-header {
  background-image: none !important;
  background-color: #9e563d;
  padding: 2rem;
}

#header {
  margin: 0; padding: 0;
  height: 200px;
  top:30px; left: 100px;
}

#pagebar {
  height:22px;
  background-color: #cc6600;
margin-top: 10px;
  border: 1px solid #cdc28b;
}

#pagebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pagebar ul li {
  margin:2px;
  display: inline;
}

#pagebar a {
  color: #ffff99;
	margin: 0;
  font-size: 90%;
  padding-left: 10px; padding-right: 10px;
	text-decoration: none;
}

#pagebar a:hover {
  color: #ffffcc;
  background-color: #993300;
}

#photocredit {
  font-size: -1
}